*.class

# Package Files
*.jar
*.war
*.ear

# Maven Files
target/

# Intellij
.idea/
*.iml
*.iws
*.eml
out/

# Eclipse
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.classpath
.project
RemoteSystemsTempFiles/
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.userlibraries